/* Regras Globais */

:root {
  --primary-color: #9bc405;
  --second-color: #1d2b14;
  --third-color: #fff;
  --dark-theme: #141414;
}

.text-green {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
}

label,
input,
button {
  font-family: "Press Start 2P", cursive;
  color: var(--third-color);
  font-size: 15px;
  appearance: none;
}

button {
  cursor: pointer;
}

/* Reset Css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* regras body e container  */

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-theme);
  font-family: "Press Start 2P", cursive;
  color: var(--third-color);
  font-size: 15px;
}

main.container {
  width: 90%;
  height: 90vh;
  max-width: 1300px;
  max-height: 700px;
  border: 6px dashed var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 85%;
  grid-template-areas:
    "title title"
    "screen-game screen-info";
  align-items: center;
  justify-items: center;
}

/* Título */

.title-head {
  grid-area: title;
  font-size: 40px;
  margin-top: 20px;
}

/* Telas do Jogo */

.screen-game {
  grid-area: screen-game;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-hidden {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.screen-hidden.active {
  display: flex;
  visibility: visible;
  pointer-events: all;
}

.home-game,
.end-game {
  height: 416px;
  width: 416px;
  background-color: var(--primary-color);
  border: 7px solid var(--third-color);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.snake-img {
  width: 100px;
  height: 100px;
}

.element-container {
  width: 280px;
  height: 60px;
  background-color: var(--primary-color);
  border: 5px solid var(--second-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element-container button,
.element-container label {
  border: none;
  width: 95%;
  height: 80%;
  background-color: var(--second-color);
  border-radius: 6px;
  color: var(--third-color);
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
}

.element-container label {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input#player-name {
  width: 280px;
  height: 50px;
  background-color: var(--primary-color);
  border: 5px solid var(--second-color);
  border-radius: 10px;
  margin-top: 15px;
  padding: 5px 15px;
  color: var(--second-color);
  text-transform: capitalize;
}

canvas#snake {
  border: 7px solid var(--third-color);
}

.end-game h3 {
  text-align: center;
  font-size: 75px;
}

.score-endGame {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.end-game .score-endGame p {
  font-size: 35px;
  margin-bottom: 15px;
}

.end-game .score-endGame span {
  font-size: 30px;
}

/* Informações e Configurações */

.screen-info {
  grid-area: screen-info;
}

.screen-info {
  width: 384px;
  height: 384px;
  display: grid;
  grid-template-columns: 55% 1fr;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
    "score score score"
    "settings settings settings"
    "record record recoro";
}

.score {
  grid-area: score;
  display: grid;
  grid-template-columns: 55% 1fr;
}

.settings {
  grid-area: settings;
}

.record {
  grid-area: record;
}

.settings-set {
  display: grid;
  grid-template-columns: 55% 50%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "level-settings level-settings"
    "border-settings border-settings";
  gap: 15px;
}

#level-settings {
  grid-area: level-settings;
}
#border-settings {
  grid-area: border-settings;
}

#level-settings,
#border-settings {
  display: grid;
  grid-template-columns: 51% 1fr;
}

.info-record {
  display: grid;
  grid-template-columns: 15% 40% 45%;
  margin-bottom: 15px;
}

.last-records {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "first first first"
    "second second second"
    "third third third";
  gap: 15px;
}

#first {
  grid-area: first;
}

#second {
  grid-area: second;
}

#third {
  grid-area: third;
}

.record-game {
  display: grid;
  grid-template-columns: 10% 35% 60%;
  gap: 20px;
}
